.abortButton {
    font-size: 1rem;
    font-weight: bold;
    padding: 10px;
    min-width: 125px;
    border: 2px solid hsl(0, 0%, 45%);
    border-radius: 6px;
    cursor: pointer;
    color: hsl(0, 0%, 45%);
    transition: background-color 0.5s ease;
    text-transform:uppercase;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 0.09em;
    
  }
  
.abortButton:hover {
    background-color: hsl(0, 0%, 95%);
    transform: scale(1.01);
    
}

