.timerButton {
    background-color: white;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s ease;
    color: grey;
    border: 2px solid grey;

  
}
.timerButton:hover {
    background-color: hsl(0, 0%, 95%);
    transform: scale(1.01);
}