body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
  height: 100vh; 
  margin: 0; 
  font-family: 'PT Sans', sans-serif;
  letter-spacing: 0.09em;
  background-color: hsl(0, 0%, 93%);
}

.container {
  display: flex;
  flex-direction: column;
  
  .display {
   
    margin-bottom: 0px;
  }
     
  .controls {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 10px;
    margin: 5px 10px 0px 20px;
    padding-top: 80px;
    width: 279px;

  
  }
}


.timeDisplay {
  font-size: 5rem;
  margin: 0 10px;

  .timesUpMessage {
    font-size: 3rem;
    color: grey;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
  }
}

.button_container{
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 3em;
}
.spinner {
  display: flex;
  align-items: center; 
  justify-content: center;
  margin: 280px 0px 115px 0px;

  .inputTime {
    border: none;
    background: none;
    text-align: center;
    font-size: 5rem; 
    width: 100px; 
    outline: none; 
    font-family: 'PT Sans', sans-serif;
    line-height: 1; 
    
  }
  
  
  .arrow {
    cursor: pointer;
    border: none;
    background: none; 
    font-size: rem;
    display: flex;
    align-items: center; 
  }
}

.box{

  padding: 10px;
  transform: scale(1.8); // Adjust the scale as needed
  margin: 0px 20px 25px 0px; // Add some space between the checkbox and the label
  
}

.hidden {
  display: none;
}